.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  padding: 0;
}

.logo {
  height: 5rem;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #ddf;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}
