.item {
  margin: 0;
  text-align: center;
}

img {
  height: 10rem;
  border-radius: 3px;
}

.content {
  text-align: center;
}

.content p {
  color: #2c292b;
  font-weight: bold;
}
.content p span {
  margin-left: 0.2rem;
  color: #666;
  font-size: 0.8rem;
  font-weight: lighter;
  vertical-align: super;
}
